<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Inscription</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem rendered="#{p:ifAnyGranted('ADMI')}" value="Index"
				outcome="INDEX_INSCRIPTION" />
			<p:menuitem rendered="#{p:ifAnyGranted('ADMI')}"
				value="Liste tournois" outcome="LISTE_TOURNOIS" />
			<p:menuitem value="Tournoi" outcome="TOURNOI">
				<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" />
			</p:menuitem>
		</p:breadCrumb>
	</ui:define>

	<ui:define name="content">

		<script type="text/javascript">
			function handleInscription(xhr, status, args) {
				if (args.validationFailed) {
					PF('dlg_inscription').jq.effect("shake", {
						times : 5
					}, 100);
				} else {
					PF('dlg_inscription').hide();
				}
			}
		</script>


		<security:authorize access="hasAnyRole('ADMI', 'JOU')">

			<h:form id="form_inscription">

				<pc:messages />

				<div class="Container100">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<p:panel id="panel_inscription" style="text-align;"
								header="#{beanInscription.libelleHeader}">

								<p:panelGrid id="panel_grid_joueur_base" style="width: 50%;"
									styleClass="ui-panelgrid-blank">
									<br />
									<h1 class="Fs14 Red BorderBottom TexAlLeft">Mon Joueur</h1>
									<br />


									<p:row>
										<p:column>
											<p:selectOneMenu id="joueur_auto" filter="true"
												filterMatchMode="contains"
												value="#{beanInscription.inscription.joueur}"
												converter="joueurConverter" required="true"
												requiredMessage="Le joueur est obligatoire"
												rendered="#{beanInscription.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}">
												<f:selectItem itemValue=""
													itemLabel="Selectionner un Joueur" />
												<f:selectItems value="#{beanInscription.listeJoueurs}"
													var="joueur" itemLabel="#{joueur.label}"
													itemValue="#{joueur}" />
												<f:attribute name="listeJoueurs"
													value="#{beanInscription.listeJoueurs}" />

												<p:ajax event="change" update="toolBarAction" />
											</p:selectOneMenu>

											<p:outputLabel
												value="#{beanInscription.inscription.joueur.label}"
												styleClass="Card OrangeBack White"
												style="margin-left: 10px;"
												rendered="#{!beanInscription.modificationGeneral or !p:ifAnyGranted('ADMI')}" />
										</p:column>

										<p:column>
											<p:outputLabel value="inscription payée : "
												rendered="#{!beanInscription.modificationGeneral}" />
											<h:outputText value="&#160;" />
											<p:selectBooleanCheckbox id="paye"
												rendered="#{!beanInscription.modificationGeneral}"
												value="#{beanInscription.inscription.paye}"
												disabled="#{!beanInscription.modificationGeneral and p:ifAnyGranted('ADMI')}">
											</p:selectBooleanCheckbox>
										</p:column>
									</p:row>

								</p:panelGrid>

								<br />
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Categorie de
									l'inscription</h1>
								<br />

								<p:panelGrid id="panel_grid_inscr" style="width: 50%;"
									styleClass="ui-panelgrid-blank">

									<p:row>
										<p:column>
											<p:outputLabel value="Simple :"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineSimple}" />
										</p:column>
										<p:column>
											<p:outputLabel value="Double :"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineDouble}" />
										</p:column>
										<p:column>
											<p:outputLabel value="Mixte :"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineMixte}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column>
											<p:selectBooleanCheckbox id="simple"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineSimple}"
												value="#{beanInscription.inscription.categorieSimple}"
												disabled="#{!beanInscription.modificationGeneral}">

												<p:ajax event="change" update="panel_grid_inscr" />

											</p:selectBooleanCheckbox>

										</p:column>
										<p:column>
											<p:selectBooleanCheckbox id="double"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineDouble}"
												value="#{beanInscription.inscription.categorieDouble}"
												disabled="#{!beanInscription.modificationGeneral}">

												<p:ajax event="change"
													update="panel_grid_inscr panel_grid_part2" />

											</p:selectBooleanCheckbox>

										</p:column>
										<p:column>
											<p:selectBooleanCheckbox id="mixte"
												value="#{beanInscription.inscription.categorieMixte}"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineMixte}"
												disabled="#{!beanInscription.modificationGeneral}">

												<p:ajax event="change"
													update="panel_grid_inscr panel_grid_part3" />

											</p:selectBooleanCheckbox>


										</p:column>
									</p:row>
								</p:panelGrid>

								<br />



								<h1 class="Fs14 Red BorderBottom TexAlLeft">Specifications</h1>




								<p:panelGrid id="panel_grid_part2" style="width: 50%;"
									styleClass="ui-panelgrid-blank">

									<p:row>
										<p:column>
											<p:outputLabel value="Partenaire Double :"
												rendered="#{beanInscription.inscription.categorieDouble}" />
										</p:column>
									</p:row>

									<p:row>

										<p:column>

											<p:autoComplete id="auto" styleClass="Container80"
												inputStyleClass="Container90"
												value="#{beanInscription.selectedJoueurWsDouble}"
												completeMethod="#{beanInscription.rechercheExterne}" var="j"
												converter="joueurWsConverter"
												emptyMessage="Aucune joueur correspondant"
												itemLabel="#{j.label}" itemValue="#{j}" scrollHeight="300"
												minQueryLength="3" required="true"
												requiredMessage="vous devez saisir un joueur"
												placeholder="#{beanInscription.placeHolder}"
												rendered="#{beanInscription.inscription.categorieDouble and beanInscription.modificationGeneral and !beanInscription.edit}">

												<f:attribute name="listeJoueurWs"
													value="#{beanInscription.listeJoueursAutoComplete}" />


												<p:column style="width:60%">
													<h:outputText value="#{j.label}" />
												</p:column>


											</p:autoComplete>

											<p:autoComplete id="autoEdit" styleClass="Container80"
												inputStyleClass="Container90"
												value="#{beanInscription.selectedJoueurWsDouble}"
												completeMethod="#{beanInscription.rechercheExterne}" var="j"
												converter="joueurWsConverter"
												emptyMessage="Aucune joueur correspondant"
												itemLabel="#{j.label}" itemValue="#{j}" scrollHeight="300"
												minQueryLength="3"
												placeholder="#{beanInscription.placeHolder}"
												rendered="#{beanInscription.inscription.categorieDouble and beanInscription.modificationGeneral and beanInscription.edit}">

												<f:attribute name="listeJoueurWs"
													value="#{beanInscription.listeJoueursAutoComplete}" />


												<p:column style="width:60%">
													<h:outputText value="#{j.label}" />
												</p:column>


											</p:autoComplete>

											<p:inputText id="pdouble_lock" maxlength="32"
												value="#{beanInscription.inscription.partenaireDouble.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieDouble}" />

										</p:column>
									</p:row>
								</p:panelGrid>

								<p:panelGrid id="panel_grid_part3" style="width: 50%;"
									styleClass="ui-panelgrid-blank">
									<p:row>

										<p:column>
											<p:outputLabel value="Partenaire Mixte :"
												rendered="#{beanInscription.inscription.categorieMixte}" />
										</p:column>
									</p:row>

									<p:row>


										<p:column>
											<p:autoComplete id="autoM" styleClass="Container80"
												inputStyleClass="Container90"
												value="#{beanInscription.selectedJoueurWsMixte}"
												completeMethod="#{beanInscription.rechercheExterneMixte}"
												var="j" converter="joueurWsConverterMixte"
												emptyMessage="Aucune joueur correspondant" required="true"
												requiredMessage="vous devez saisir un joueur"
												itemLabel="#{j.label}" itemValue="#{j}" scrollHeight="300"
												minQueryLength="3"
												placeholder="#{beanInscription.placeHolderMixte}"
												rendered="#{beanInscription.inscription.categorieMixte and beanInscription.modificationGeneral and !beanInscription.edit}">

												<f:attribute name="listeJoueurWsMixte"
													value="#{beanInscription.listeJoueursAutoCompleteMixte}" />


												<p:column style="width:60%">
													<h:outputText value="#{j.label}" />
												</p:column>

											</p:autoComplete>

											<p:autoComplete id="autoMEdit" styleClass="Container80"
												inputStyleClass="Container90"
												value="#{beanInscription.selectedJoueurWsMixte}"
												completeMethod="#{beanInscription.rechercheExterneMixte}"
												var="j" converter="joueurWsConverterMixte"
												emptyMessage="Aucune joueur correspondant"
												itemLabel="#{j.label}" itemValue="#{j}" scrollHeight="300"
												minQueryLength="3"
												placeholder="#{beanInscription.placeHolderMixte}"
												rendered="#{beanInscription.inscription.categorieMixte and beanInscription.modificationGeneral and beanInscription.edit}">

												<f:attribute name="listeJoueurWsMixte"
													value="#{beanInscription.listeJoueursAutoCompleteMixte}" />


												<p:column style="width:60%">
													<h:outputText value="#{j.label}" />
												</p:column>

											</p:autoComplete>

											<p:inputText id="pmixte_lock" maxlength="32"
												value="#{beanInscription.inscription.partenaireMixte.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieMixte}" />



										</p:column>
									</p:row>
								</p:panelGrid>
							</p:panel>
						</div>
					</div>
				</div>

				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">

							<!-- 							<p:commandButton value="Me desinscrire" icon="fa fa-bitbucket" -->
							<!-- 								action="#{beanInscription.delete}" update="form_inscription" -->
							<!-- 								styleClass="RedButton RaisedButton" -->
							<!-- 								rendered="#{(!beanInscription.modificationGeneral and beanInscription.edit)}"> -->
							<!-- 								<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" /> -->
							<!-- 								<p:confirm header="Suppression" -->
							<!-- 									message="Confirmez vous votre desinscription ?" -->
							<!-- 									icon="ui-icon-alert" /> -->
							<!-- 							</p:commandButton> -->


							<!-- 							<p:separator rendered="#{!beanInscription.modificationGeneral}" /> -->

							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanInscription.delete}" update="form_inscription"
								styleClass="RedButton RaisedButton"
								rendered="#{(!beanInscription.modificationGeneral and p:ifAnyGranted('ADMI'))}">
								<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" />
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de cette inscription ?"
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:separator
								rendered="#{!beanInscription.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" />

							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil" action="#{beanInscription.editInscription}"
								update="form_inscription" styleClass="OrangeButton RaisedButton"
								rendered="#{!beanInscription.modificationGeneral and (p:ifAnyGranted('ADMI, TOURN') or beanInscription.edit)}">
							</p:commandButton>
							<p:defaultCommand target="boutton_modify" />

							<p:commandButton value="annuler" icon="fa fa-ban"
								action="#{beanInscription.annuler}" update="form_inscription"
								styleClass="RedButton RaisedButton"
								rendered="#{beanInscription.modificationGeneral and beanInscription.inscription.id != null}"
								process="@this">
								<p:ajax update="panel_inscription" resetValues="true" />
							</p:commandButton>

							<p:button value="annuler" icon="fa fa-ban" outcome="TOURNOI"
								styleClass="RedButton RaisedButton"
								rendered="#{beanInscription.modificationGeneral and beanInscription.inscription.id == null}">
								<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" />
							</p:button>

							<p:separator rendered="#{beanInscription.modificationGeneral}" />

							<p:commandButton id="boutton_save" value="S'inscire et payer"
								icon="fa fa-check" styleClass="GreenButton RaisedButton"
								action="#{beanInscription.save(false)}"
								rendered="#{beanInscription.modificationGeneral and !beanInscription.edit}"
								update="form_inscription" />
							<p:defaultCommand target="boutton_save" />

							<p:commandButton id="boutton_validate"
								value="Valider les modifications" icon="fa fa-check"
								styleClass="GreenButton RaisedButton"
								action="#{beanInscription.save(null)}"
								rendered="#{beanInscription.modificationGeneral and beanInscription.edit}"
								update="form_inscription" />
							<p:defaultCommand target="boutton_save" />

							<p:separator
								rendered="#{beanInscription.modificationGeneral and ((beanInscription.inscription.joueur.tournoiPaye > 0 and !beanInscription.tournoi.tourGardois) or (beanInscription.tournoi.tourGardois and beanInscription.inscription.joueur.tourGardoisPaye > 0)) and !beanInscription.edit}" />


							<p:commandButton id="boutton_save_tournoi"
								value="Utiliser un tournoi payé" icon="fa fa-check"
								action="#{beanInscription.save(true)}" update="form_inscription"
								styleClass="BlueButton RaisedButton"
								rendered="#{!beanInscription.tournoi.tourGardois and beanInscription.inscription.joueur.tournoiPaye > 0 and beanInscription.modificationGeneral and !beanInscription.edit}" />
							<p:defaultCommand target="boutton_save_tournoi" />

							<p:commandButton id="boutton_save_tournoi_gard"
								value="Utiliser un tournoi payé" icon="fa fa-check"
								action="#{beanInscription.save(true)}" update="form_inscription"
								styleClass="BlueButton RaisedButton"
								rendered="#{beanInscription.tournoi.tourGardois and beanInscription.inscription.joueur.tourGardoisPaye > 0 and beanInscription.modificationGeneral and !beanInscription.edit}" />
							<p:defaultCommand target="boutton_save_tournoi_gard" />

							<p:separator
								rendered="#{beanInscription.modificationGeneral and beanInscription.inscription.joueur != null and !beanInscription.edit}" />

							<p:outputLabel
								value="Attention il vous reste #{beanInscription.inscription.joueur.tournoiPaye} tournois payés par le club"
								rendered="#{!beanInscription.tournoi.tourGardois and beanInscription.modificationGeneral and beanInscription.inscription.joueur != null and !beanInscription.edit}"
								styleClass="Red Fs20" />

							<p:outputLabel
								value="Attention il vous reste #{beanInscription.inscription.joueur.tourGardoisPaye} tournois payés par le club"
								rendered="#{beanInscription.tournoi.tourGardois and beanInscription.modificationGeneral and beanInscription.inscription.joueur != null and !beanInscription.edit}"
								styleClass="Red Fs20" />

							<p:separator
								rendered="#{beanInscription.modificationGeneral and beanInscription.inscription.joueur != null and !beanInscription.edit}" />
						</p:toolbarGroup>
					</p:toolbar>
				</div>
			</h:form>



		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI' , 'JOU')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>
