<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Joueurs</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Gestion utilisateurs" outcome="USERS" />
		</p:breadCrumb>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			function handleChangeMdp(xhr, status, args) {
				if (args.validationFailed) {
					PF('dlg_change_mdp').jq.effect("shake", {
						times : 5
					}, 100);
				} else {
					PF('dlg_change_mdp').hide();
				}
			}
		</script>

		<security:authorize access="hasAnyRole('ADMI')">

			<h:form id="form_user">

				<pc:messages />

				<div class="Container100">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<p:panel id="panel_user" style="text-align;"
								header="#{beanUser.user.nom}">

								<p:panelGrid style="width: 100%;"
									styleClass="ui-panelgrid-blank">
									<p:row>
										<p:column>
											<p:outputLabel value="Username : " for="username" />
										</p:column>
										<p:column>
											<p:outputLabel />
										</p:column>
									</p:row>

									<p:row>

										<p:column>
											<p:inputText id="username" maxlength="32"
												value="#{beanUser.user.nom}"
												readonly="#{!beanUser.modificationGeneral}" required="true"
												requiredMessage="username obligatoire" />
											<p:message for="username" display="tooltip" />
										</p:column>
										<p:column>
											<p:commandButton id="boutton_changer"
												value="Changer mot de passe" icon="fa fa-pencil"
												onclick="PF('dlg_change_mdp').show();"
												styleClass="GreenButton RaisedButton"
												rendered="#{!beanUser.modificationGeneral}" />
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Roles : " />
										</p:column>
									</p:row>
									<p:row>
										<p:column colspan="2">
											<p:selectManyCheckbox id="role"
												value="#{beanUser.user.listeRoles}" layout="grid"
												required="true" requiredMessage="Le role est obligatoire"
												disabled="#{!beanUser.modificationGeneral or !p:ifAnyGranted('ADMI')}"
												columns="5" converter="roleConverter">


												<f:selectItems var="role" value="#{beanUser.listeRoles}"
													itemLabel="#{role.libelle}" itemValue="#{role}" />

												<f:attribute name="listeRoles"
													value="#{beanUser.listeRoles}" />

												<f:attribute name="collectionType"
													value="java.util.ArrayList" />

											</p:selectManyCheckbox>
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:panel>
						</div>
					</div>
				</div>

				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">

							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanUser.delete}" update="form_user"
								styleClass="RedButton RaisedButton"
								rendered="#{!beanUser.modificationGeneral and p:ifAnyGranted('ADMI')}">
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de cet user ?"
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:separator rendered="#{!beanUser.modificationGeneral}" />

							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil"
								action="#{beanUser.setModificationGeneral(true)}"
								update="form_user" styleClass="OrangeButton RaisedButton"
								rendered="#{!beanUser.modificationGeneral}" />
							<p:defaultCommand target="boutton_modify" />

							<p:commandButton value="annuler" icon="fa fa-ban"
								action="#{beanUser.annuler}" update="form_user"
								styleClass="RedButton RaisedButton"
								rendered="#{beanUser.modificationGeneral and beanUser.user.id != null}"
								process="@this">
								<p:ajax update="form_user" resetValues="true" />
							</p:commandButton>

							<p:separator rendered="#{beanUser.modificationGeneral}" />

							<p:commandButton id="boutton_save" value="enregistrer"
								icon="fa fa-check" action="#{beanUser.saveMonCompte}"
								update="form_user" styleClass="GreenButton RaisedButton"
								rendered="#{beanUser.modificationGeneral}" />

							<p:defaultCommand target="boutton_save" />
						</p:toolbarGroup>
					</p:toolbar>
				</div>

			</h:form>

			<h:form id="form_dialog_change_mdp">

				<pc:messages id="messages" />

				<p:dialog id="dlg_change_mdp" header="Changer mot de passe"
					widgetVar="dlg_change_mdp" modal="true" closeOnEscape="true"
					responsive="true">

					<p:ajax event="open" listener="#{beanUser.openDialogMdp}" />

					<p:ajax event="close" update="@this"
						listener="#{beanUser.initDialogMdp}" resetValues="true" />


					<p:panelGrid style="width: 100%;"
						styleClass="ui-panelgrid-blank Container80"
						columnClasses="Wid30,Wid70">



						<p:row>
							<p:column>
								<p:outputLabel value="Nouveau mot de passe : " />
							</p:column>

							<p:column>
								<p:password id="new_mdp" value="#{beanUser.newMdp}"
									match="new_mdp_verif" required="true"
									validatorMessage="Les mots de passes ne correspondent pas"
									requiredMessage="veuillez remplir le champ 'nouveau mot de passe'" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel value="Confirmation mot de passe : " />
							</p:column>

							<p:column>
								<p:password id="new_mdp_verif" value="#{beanUser.verifNewMdp}" />
							</p:column>
						</p:row>



					</p:panelGrid>
					<f:facet name="footer">

						<p:commandButton id="change_mdp" value="Changer mot de passe"
							oncomplete="handleChangeMdp(xhr, status, args)"
							action="#{beanUser.changeMdp}" update=" messages">
						</p:commandButton>
					</f:facet>

				</p:dialog>
			</h:form>


		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>