<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Comptes</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Comptes" />
		</h3>
	</ui:define>


	<ui:define name="content">



		<security:authorize access="hasAnyRole('ADMI')">
			<h:form id="form_user">

				<pc:messages id="messages" />

				<div class="Container100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect TexAlCenter">



							<p:tabView>
								<p:tab title="Joueurs sans compte">
									<p:dataTable id="table_user" var="joueur"
										value="#{beanGestion.listeJoueursSansCompte}"
										selection="#{beanGestion.selectedJoueurs}"
										rowKey="#{joueur.id}" style="margin-bottom:0">

										<p:column selectionMode="multiple"
											style="width:16px;text-align:center" />

										<p:column headerText="Nom">
											<h:outputText value="#{joueur.nomJoueur}" />
										</p:column>

										<p:column headerText="Licence">
											<h:outputText value="#{joueur.licenceJoueur}" />
										</p:column>

										<f:facet name="footer">
											<p:commandButton process="table_user" update="form_user"
												icon="fa fa-child" value="Creer les comptes"
												action="#{beanGestion.saveComptes}" />
										</f:facet>
									</p:dataTable>



								</p:tab>
								<p:tab title="Gestion Utilisateurs">
									<p:dataTable id="table_users" var="user"
										value="#{beanGestion.listeUsers}"
										emptyMessage="Aucun Utilisateurs" rows="10" paginator="true"
										paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rowsPerPageTemplate="10,20,30" selectionMode="single"
										selection="#{beanGestion.selectedUser}" rowKey="#{user.id}"
										sortBy="#{user.nom}">

										<p:ajax event="rowSelect" update="toolBarAction"
											listener="#{beanGestion.onRowSelect}" />

										<p:ajax event="rowUnselect"
											listener="#{beanGestion.onRowUnselect}"
											update="toolBarAction" />

										<p:ajax event="rowDblselect"
											listener="#{beanGestion.onRowSelect}" update="toolBarAction"
											oncomplete="$('#boutton_consult').click();" />

										<p:column headerText="Username" filterBy="#{user.nom}"
											filterMatchMode="contains">
											<h:outputText value="#{user.nom}" />
										</p:column>

										<p:column headerText="Nom" filterBy="#{user.joueur.nomJoueur}"
											filterMatchMode="contains">
											<h:outputText value="#{user.joueur.nomJoueur}" />
										</p:column>



										<p:column headerText="Licence"
											filterBy="#{user.joueur.licenceJoueur}"
											filterMatchMode="contains">
											<h:outputText value="#{user.joueur.licenceJoueur}" />
										</p:column>


									</p:dataTable>
								</p:tab>
								<p:tab title="Creer un joueur">


									<p:panelGrid>
										<p:autoComplete id="autoJoueur" styleClass="Container80"
											inputStyleClass="Container90" value="#{beanGestion.joueurWs}"
											completeMethod="#{beanGestion.rechercheExterne}" var="j"
											converter="joueurWsConverter"
											emptyMessage="Aucune joueur correspondant"
											itemLabel="#{j.label}" itemValue="#{j}" scrollHeight="300"
											minQueryLength="3" placeholder="Nom / Prenom / licence">

											<f:attribute name="listeJoueurWs"
												value="#{beanGestion.listeJoueursAutocomplete}" />


											<p:column style="width:60%">
												<h:outputText value="#{j.label}" />
											</p:column>

										</p:autoComplete>

										<p:commandButton id="boutton_save" value="enregistrer"
											icon="fa fa-check" action="#{beanGestion.saveJoueur}"
											update="form_user" styleClass="GreenButton RaisedButton" />

									</p:panelGrid>
								</p:tab>

							</p:tabView>

						</div>
					</div>
				</div>


			</h:form>

			<div class="form-actions-general">
				<p:toolbar id="toolBarAction">
					<p:toolbarGroup align="right">
						<p:button id="boutton_consult" value="consulter"
							icon="fa fa-file-o"
							rendered="#{beanGestion.selectedUser != null  and p:ifAnyGranted('ADMI')}"
							styleClass="GrayButton RaisedButton" outcome="USER">
							<f:param name="idUser" value="#{beanGestion.selectedUser.id}" />
						</p:button>

						<!-- 						<p:commandButton id="boutton_save" value="refresh" -->
						<!-- 							icon="fa fa-check" action="#{beanGestion.refresh}" -->
						<!-- 							update="form_user" styleClass="GreenButton RaisedButton" -->
						<!-- 							rendered="#{!beanGestion.modificationGeneral}" /> -->
					</p:toolbarGroup>
				</p:toolbar>
			</div>


		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>
