<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Accueil</ui:define>

	<ui:define name="subheader">

	</ui:define>


	<ui:define name="content">

		<security:authorize access="hasAnyRole('ADMI', 'JOU')">

			<h:form id="form_index">

				<p:fieldset id="fieldset_accueil" legend="Accueil"
					style="margin-bottom:20px" styleClass="fieldSetGlobal">

					<div class="Fright">
						<h:outputText styleClass="Fs12 Gray"
							value="#{messages['version']}" />
					</div>

					<h:panelGrid columns="2" cellpadding="10">

						<h:outputText styleClass="Fs22 Gray"
							value="Bienvenue dans l'application Unanim'Bad" />
					</h:panelGrid>
				</p:fieldset>

				<!-- 			<p:fieldset> -->
				<!-- 				<h:outputText styleClass="Fs22 Gray" value="Prochains Tournois" /> -->
				<!-- 			</p:fieldset> -->

			</h:form>

			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect TexAlCenter">

						<p:panel id="panel_acceuil" style="text-align;"
							header="Tournois à venir">
							<br />
							<p:dataTable id="table_tournois" var="tournois"
								value="#{beanIndex.listetournois}" emptyMessage="Aucun tournois"
								rows="30" selection="#{beanIndex.selectedTournoi}"
								selectionMode="single" rowKey="#{tournois.id}"
								sortBy="#{tournois.dateTournoi}">

								<p:ajax event="rowSelect" update="toolBarAction"
									listener="#{beanIndex.onRowSelect}" />

								<p:ajax event="rowUnselect"
									listener="#{beanIndex.onRowUnselect}" update="toolBarAction" />

								<p:ajax event="rowDblselect" listener="#{beanIndex.onRowSelect}"
									update="toolBarAction"
									oncomplete="$('#boutton_consult').click();" />

								<p:column headerText="Nom">
									<h:outputText value="#{tournois.libelleTournoi}" />
								</p:column>

								<p:column headerText="Lieu">
									<h:outputText value="#{tournois.lieuTournoi}" />
								</p:column>

								<p:column headerText="Date">
									<h:outputText value="#{tournois.dateTournoi}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="Europe/Paris" />
									</h:outputText>
								</p:column>

								<p:column headerText="Date Limite">
									<h:outputText value="#{tournois.dateLimiteInscription}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="Europe/Paris" />
									</h:outputText>
								</p:column>

								<p:column headerText="Nombre d'inscriptions">
									<h:outputText value="#{tournois.nombre}" />
								</p:column>

								<p:column headerText="Inscriptions">
									<h:outputText rendered="#{tournois.lock}"
										styleClass="fa fa-check Green Fs20" />
									<h:outputText rendered="#{!tournois.lock}"
										styleClass="fa fa-lock Red Fs20" />
								</p:column>

							</p:dataTable>

							<br />
							<br />

							<h:outputText value=" Inscriptions ouvertes"
								styleClass="fa fa-check Green Fs20" />

							<h:outputText value="&#160;" />
							<h:outputText value="&#160;" />
							<h:outputText value="&#160;" />
							<h:outputText value="&#160;" />

							<h:outputText value=" Inscriptions fermées"
								styleClass="fa fa-lock Red Fs20" />
						</p:panel>

					</div>
				</div>
			</div>

			<div class="form-actions-general">
				<p:toolbar id="toolBarAction">
					<p:toolbarGroup align="right">
						<p:button id="boutton_consult" value="consulter"
							icon="fa fa-file-o"
							rendered="#{beanIndex.selectedTournoi != null}"
							styleClass="GrayButton RaisedButton" outcome="TOURNOI">
							<f:param name="idTournoi" value="#{beanIndex.selectedTournoi.id}" />
						</p:button>
					</p:toolbarGroup>
				</p:toolbar>
			</div>

			<br />
			<br />

		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI', 'JOU')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>


</ui:composition>
