<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Unanim'Bad</title>
	<ui:insert name="head" />
</h:head>

<h:body class="#{'GreenModena'} Geometry">

	<h:form id="form">

		<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
			<div class="Wid33 MarAuto WidAutoOnMobile">
				<h:graphicImage name="UNBcourt.png" library="images"
					style="width:40%; max-width:200px;" />
				<div class="EmptyBox30"></div>
				<div class="Card ShadowEffect">

					<!-- 					<h:graphicImage name="girlande_noel.png" library="images" -->
					<!-- 						style="width:40%; max-width:200px; position: absolute; transform: rotate(30deg);margin-left: 60px; margin-top: 18px;" /> -->

					<div class="EmptyBox20"></div>
					<div class="Wid100 OvHidden BigTopic Fs30">
						<i class="icon-contacts Fs60 DispBlock"></i>Mentions légales <br />
						<span class="Fs18 FontRobotoLight"></span>
					</div>
					<div class="EmptyBox30"></div>

					<div class="Wid100">
						<h:outputText value="Auteur : Maxime Grau " />
						<br /> <br />
						<h:outputText value="Numero de contact : 06 11 09 89 43 " />
						<br /> <br />
						<h:outputText value="mail : maxime070530@gmail.com " />
					</div>
					<div class="EmptyBox10"></div>
					<div class="Wid100">
						<div
							class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular Gray">
							<i class="fa fa-copyright"></i> MaximeGrau <br /> All rights reserved.
							<br />
						</div>
					</div>



					<div class="EmptyBox30"></div>
					<div class="Wid100"></div>
					<p:button value="retour" icon="fa fa-caret-left" outcome="ACCUEIL"
						styleClass="BlueButton RaisedButton" />
					<div class="EmptyBox20"></div>
				</div>
			</div>
		</div>
	</h:form>
	<h:outputStylesheet name="css/core-layout.css" library="modena-layout" />
	<h:outputStylesheet name="css/animate.css" library="modena-layout" />
	<h:outputStylesheet name="css/modena-font.css" library="modena-layout" />
	<h:outputStylesheet name="css/ripple-effect.css"
		library="modena-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="modena-layout" />
	<h:outputStylesheet name="css/modena-layout.css"
		library="modena-layout" />
</h:body>
</html>
