<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - MON COMPTE</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Mon compte" />
		</h3>
	</ui:define>

	<ui:define name="content">

		<script type="text/javascript">
			function handleChangeMdp(xhr, status, args) {
				if (args.validationFailed) {
					PF('dlg_change_mdp').jq.effect("shake", {
						times : 5
					}, 100);
				} else {
					PF('dlg_change_mdp').hide();
				}
			}
		</script>

		<h:form id="utilisateurForm">

			<pc:messages id="e" />


			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect">
						<p:panel id="panel_moncompte" style="text-align;"
							header="Mon Compte">

							<p:panelGrid columns="2" style="width:100%" layout="grid"
								styleClass="ui-panelgrid-blank">


								<p:outputLabel for="username" value="Nom D'utilisateur : " />
								<!-- 								<p:outputLabel for="password" value="Nouveau mot de passe :" /> -->
								<p:outputLabel for="btn" value="Refresh :"
									rendered="#{p:ifAnyGranted('ADMI')}" />
								<p:outputLabel rendered="#{!p:ifAnyGranted('ADMI')}" />


								<!-- 								<p:outputLabel for="joueur" value="Joueur :" -->
								<!-- 									rendered="#{p:ifAnyGranted('ADMI')}" /> -->

								<p:inputText id="username" required="true"
									readonly="#{!beanMonCompte.modificationGeneral}"
									requiredMessage="Le nouveau nom utilisateur est requis"
									styleClass="Wid50" value="#{beanMonCompte.utilisateur.nom}"
									maxlength="100" />
								<!-- 								<p:inputText id="password" required="true" -->
								<!-- 									readonly="#{!beanMonCompte.modificationGeneral}" -->
								<!-- 									rendered="#{beanMonCompte.modificationGeneral}" -->
								<!-- 									styleClass="Wid50" value="#{beanMonCompte.mdp}" -->
								<!-- 									maxlength="50" /> -->



								<p:commandButton id="btn" value="Refresh all user"
									icon="fa fa-refresh" styleClass="BlueButton RaisedButton"
									action="#{beanMonCompte.refreshJoueurs}"
									rendered="#{!beanMonCompte.modificationGeneral and p:ifAnyGranted('ADMI')}" />
								<p:defaultCommand target="btn" />

								<!-- 								<p:commandButton id="btn2" value="Create all user" -->
								<!-- 									icon="fa fa-refresh" styleClass="BlueButton RaisedButton" -->
								<!-- 									action="#{beanMonCompte.createAllCompte}" -->
								<!-- 									rendered="#{!beanMonCompte.modificationGeneral and p:ifAnyGranted('ADMI')}" /> -->
								<!-- 								<p:defaultCommand target="btn2" /> -->

								<!-- 								<p:selectOneMenu id="joueur" filter="true" -->
								<!-- 									filterMatchMode="contains" -->
								<!-- 									value="#{beanMonCompte.utilisateur.joueur}" -->
								<!-- 									converter="joueurConverter" -->
								<!-- 									rendered="#{p:ifAnyGranted('ADMI') and beanMonCompte.modificationGeneral}"> -->
								<!-- 									<f:selectItem itemValue="" itemLabel="Selectionner un Joueur" /> -->
								<!-- 									<f:selectItems value="#{beanMonCompte.listeJoueurs}" -->
								<!-- 										var="joueur" itemLabel="#{joueur.label}" itemValue="#{joueur}" /> -->
								<!-- 									<f:attribute name="listeJoueurs" -->
								<!-- 										value="#{beanMonCompte.listeJoueurs}" /> -->
								<!-- 									<p:ajax event="change" listener="#{beanMonCompte.findJoueur(beanMonCompte.utilisateur.joueur)}" -->
								<!-- 										update="monjoueur" /> -->
								<!-- 								</p:selectOneMenu> -->
								<!-- 								<p:inputText id="joueur_lock" maxlength="32" -->
								<!-- 									value="#{beanMonCompte.utilisateur.joueur.label}" -->
								<!-- 									readonly="#{!beanMonCompte.modificationGeneral}" -->
								<!-- 									rendered="#{!beanMonCompte.modificationGeneral}" /> -->
							</p:panelGrid>
							<br />
							<h1 class="Fs14 Red BorderBottom TexAlLeft">Mon Joueur</h1>
							<p:panelGrid id="monjoueur" style="width: 100%;"
								styleClass="ui-panelgrid-blank">
								<p:row>
									<p:column>
										<p:outputLabel value="Nom : " for="nom" />
									</p:column>

									<p:column>
										<p:outputLabel value="N° licence : " for="licence" />
									</p:column>
								</p:row>

								<p:row>

									<p:column>
										<p:inputText id="nom" maxlength="32"
											value="#{beanMonCompte.utilisateur.joueur.nomJoueur}"
											required="true" requiredMessage="Nom obligatoire"
											readonly="#{!p:ifAnyGranted('ADMI') or !beanMonCompte.modificationGeneral}" />
										<p:message for="nom" display="tooltip" />
									</p:column>

									<p:column>
										<p:inputText id="licence" maxlength="32"
											value="#{beanMonCompte.utilisateur.joueur.licenceJoueur}"
											required="true" requiredMessage="licence obligatoire"
											readonly="#{!p:ifAnyGranted('ADMI') or !beanMonCompte.modificationGeneral}" />
										<p:message for="licence" display="tooltip" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Sexe : " for="sexe" />
									</p:column>
									<p:column>
										<p:outputLabel value="Age : " for="age" />
									</p:column>
									<p:column>
										<p:outputLabel value="Club : " for="club" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:selectOneMenu id="sexe"
											value="#{beanMonCompte.utilisateur.joueur.sexeJoueur}"
											required="true" requiredMessage="Sexe obligatoire"
											style="width:125px"
											rendered="#{beanMonCompte.modificationGeneral and p:ifAnyGranted('ADMI')}">
											<f:selectItem itemLabel="" itemValue="" />
											<f:selectItem itemLabel="Homme" itemValue="Homme" />
											<f:selectItem itemLabel="Femme" itemValue="Femme" />
										</p:selectOneMenu>
										<p:inputText id="sexe_lock" maxlength="32"
											value="#{beanMonCompte.utilisateur.joueur.sexeJoueur}"
											readonly="#{!p:ifAnyGranted('ADMI') or !beanMonCompte.modificationGeneral}"
											rendered="#{!p:ifAnyGranted('ADMI') or !beanMonCompte.modificationGeneral}" />
										<p:message for="sexe" display="tooltip" />
									</p:column>
									<p:column>
										<p:inputText id="age" maxlength="3"
											value="#{beanMonCompte.utilisateur.joueur.ageJoueur}"
											required="true" requiredMessage="age obligatoire"
											readonly="#{!beanMonCompte.modificationGeneral}" />
										<p:message for="age" display="tooltip" />
									</p:column>
									<p:column>
										<p:selectOneMenu id="club"
											value="#{beanMonCompte.utilisateur.joueur.club}"
											style="width:125px" converter="clubConverter"
											rendered="#{beanMonCompte.modificationGeneral and p:ifAnyGranted('ADMI')}">
											<f:selectItem itemLabel="" itemValue="" />
											<f:selectItems value="#{beanMonCompte.listeClubs}" var="club"
												itemLabel="#{club.label}" itemValue="#{club}" />
											<f:attribute name="listeClub"
												value="#{beanMonCompte.listeClubs}" />
										</p:selectOneMenu>
										<p:inputText id="club_lock" maxlength="32"
											value="#{beanMonCompte.utilisateur.joueur.club.label}"
											readonly="#{!p:ifAnyGranted('ADMI') or !beanMonCompte.modificationGeneral}"
											rendered="#{!p:ifAnyGranted('ADMI') or !beanMonCompte.modificationGeneral}" />
										<p:message for="club" display="tooltip" />
									</p:column>
								</p:row>
							</p:panelGrid>
							<br />
							<h1 class="Fs14 Red BorderBottom TexAlLeft">Classement</h1>
							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank">
								<p:row>
									<p:column>
										<p:outputLabel value="Classement simple: " />
									</p:column>
									<p:column>
										<p:outputLabel value="Classement double: " />
									</p:column>
									<p:column>
										<p:outputLabel value="Classement mixte: " />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel
											value="#{beanMonCompte.utilisateur.joueur.classementSimple}"
											styleClass="Card #{beanMonCompte.utilisateur.joueur.colorSimple} White"
											style="margin-left: 10px;" />
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{beanMonCompte.utilisateur.joueur.classementDouble}"
											styleClass="Card #{beanMonCompte.utilisateur.joueur.colorDouble} White"
											style="margin-left: 10px;" />
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{beanMonCompte.utilisateur.joueur.classementMixte}"
											styleClass="Card #{beanMonCompte.utilisateur.joueur.colorMixte} White"
											style="margin-left: 10px;" />
									</p:column>
								</p:row>
							</p:panelGrid>

							<p:tab id="tab_joueur" title="Mes tournois"
								rendered="#{beanMonCompte.utilisateur.joueur.listeInscriptions != null}">
								<br />
								<h1 class="Fs15 Red BorderBottom">Mes tournois</h1>

								<br />

								<p:dataTable var="inscription"
									rendered="#{beanMonCompte.utilisateur.joueur.listeInscriptions != null}"
									style="border:none; text-align:center; width:100%)"
									value="#{beanMonCompte.utilisateur.joueur.listeInscriptions}"
									emptyMessage="Il n'existe pas d'inscriptions a ce joueur">

									<p:column headerText="Nom tournoi">
										<h:outputText value="#{inscription.tournoi.libelleTournoi}" />
									</p:column>


								</p:dataTable>
								<br/>

								<p:outputLabel
									value="je dois #{beanMonCompte.utilisateur.joueur.total} € au club"
									styleClass="Card GreenBack White" style="margin-left:44%" />


							</p:tab>





						</p:panel>
					</div>
				</div>
			</div>

			<div class="form-actions-general">
				<p:toolbar id="toolBarAction">
					<p:toolbarGroup align="right">


						<p:button value="Retour" outcome="ACCUEIL" icon="fa fa-caret-left"
							styleClass="BlueTextButton RaisedButton"
							rendered="#{beanMonCompte.utilisateur.id == null or !beanMonCompte.modificationGeneral}" />

						<p:separator rendered="#{!beanMonCompte.modificationGeneral}" />

						<p:commandButton id="boutton_changer" value="Changer mot de passe"
							icon="fa fa-pencil" onclick="PF('dlg_change_mdp').show();"
							styleClass="GreenButton RaisedButton"
							rendered="#{!beanMonCompte.modificationGeneral}" />

						<p:separator rendered="#{!beanMonCompte.modificationGeneral}" />

						<p:commandButton id="boutton_modify" value="Modifier"
							icon="fa fa-pencil"
							action="#{beanMonCompte.setModificationGeneral(true)}"
							update="utilisateurForm" styleClass="OrangeButton RaisedButton"
							rendered="#{!beanMonCompte.modificationGeneral}" />
						<p:defaultCommand target="boutton_modify" />

						<p:commandButton value="Annuler" icon="fa fa-reply"
							action="#{beanMonCompte.annuler}" update="utilisateurForm"
							styleClass="RedButton RaisedButton"
							rendered="#{beanMonCompte.utilisateur.id != null and beanMonCompte.modificationGeneral}"
							process="@this">
							<p:ajax update="utilisateurForm" resetValues="true" />
						</p:commandButton>

						<p:separator rendered="#{beanMonCompte.modificationGeneral}" />

						<p:commandButton id="btn_valider" value="Valider"
							icon="fa fa-plus" styleClass="GreenButton RaisedButton"
							action="#{beanMonCompte.saveMonCompte}" update="utilisateurForm"
							rendered="#{beanMonCompte.utilisateur.id != null and beanMonCompte.modificationGeneral}" />
						<p:defaultCommand target="btn_valider" />

						<p:separator
							rendered="#{!beanMonCompte.modificationGeneral and p:ifAnyGranted('ADMI')}" />

						<p:commandButton id="btn_refresh" value="MAJ classements"
							icon="fa fa-refresh" styleClass="BlueButton RaisedButton"
							action="#{beanMonCompte.refreshClassements}"
							rendered="#{beanMonCompte.utilisateur.id != null and !beanMonCompte.modificationGeneral and p:ifAnyGranted('ADMI')}" />
					</p:toolbarGroup>
				</p:toolbar>
			</div>


		</h:form>

		<h:form id="form_dialog_change_mdp">

			<pc:messages id="messages" />

			<p:dialog id="dlg_change_mdp" header="Changer mot de passe"
				widgetVar="dlg_change_mdp" modal="true" closeOnEscape="true"
				responsive="true">

				<p:ajax event="open" listener="#{beanMonCompte.openDialogMdp}" />

				<p:ajax event="close" update="@this"
					listener="#{beanMonCompte.initDialogMdp}" resetValues="true" />


				<p:panelGrid style="width: 100%;"
					styleClass="ui-panelgrid-blank Container80"
					columnClasses="Wid30,Wid70">


					<p:row>
						<p:column>
							<p:outputLabel value="Ancien mot de passe : " />
						</p:column>

						<p:column>
							<p:password id="old_mdp" value="#{beanMonCompte.oldMdp}"
								required="true"
								requiredMessage="veuillez remplir le champ 'ancien mot de passe' " />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:outputLabel value="Nouveau mot de passe : " />
						</p:column>

						<p:column>
							<p:password id="new_mdp" value="#{beanMonCompte.newMdp}"
								match="new_mdp_verif" required="true"
								validatorMessage="Les mots de passes ne correspondent pas"
								requiredMessage="veuillez remplir le champ 'nouveau mot de passe'" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:outputLabel value="Confirmation mot de passe : " />
						</p:column>

						<p:column>
							<p:password id="new_mdp_verif"
								value="#{beanMonCompte.verifNewMdp}" />
						</p:column>
					</p:row>

				</p:panelGrid>
				<f:facet name="footer">

					<p:commandButton id="change_mdp" value="Changer mot de passe"
						oncomplete="handleChangeMdp(xhr, status, args)"
						action="#{beanMonCompte.changeMdp}"
						update="utilisateurForm messages">
					</p:commandButton>
				</f:facet>

			</p:dialog>
		</h:form>



	</ui:define>

</ui:composition>
