<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Compta</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_COMPTA" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Liste des inscriptions" />
		</h3>
	</ui:define>


	<ui:define name="content">

		<security:authorize access="hasAnyRole('ADMI', 'COMPTA')">

			<div id="container_filter" class="Container100">

				<div class="ContainerIndent">

					<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
						<div class="Container100 Responsive100"
							style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
							<div class="SoftOrangeBack DispInlBlock Fleft"
								style="margin: -10px 20px -10px -10px; padding: 20px 10px;">
								<a href="#" onclick="toggleDivClick();"><i
									class="icon-search Orange Fs50"></i></a>
							</div>
							<p></p>


							<h:form id="form_recherche">

								<p:panelGrid styleClass="ui-panelgrid-blank" style="width: 80%;">

									<p:row>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Nom joueur</span>
										</p:column>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Licence joueur</span>
										</p:column>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Libelle
												tournoi</span>
										</p:column>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Lieu tournoi</span>
										</p:column>

									</p:row>

									<p:row>
										<p:column>
											<p:inputText id="nom"
												value="#{beanListeInscriptionsCompta.filtre.nomJoueur}" />
										</p:column>
										<p:column>
											<p:inputText id="licence"
												value="#{beanListeInscriptionsCompta.filtre.licenceJoueur}" />
										</p:column>


										<p:column>
											<p:selectOneMenu id="tournoi" filter="true"
												filterMatchMode="contains"
												value="#{beanListeInscriptionsCompta.filtre.libelleTournoi}">

												<f:selectItem itemValue=""
													itemLabel="Selectionner un tournoi" />

												<f:selectItems
													value="#{beanListeInscriptionsCompta.listeTournois}"
													var="tournoi" itemLabel="#{tournoi.libelleTournoi}"
													itemValue="#{tournoi.libelleTournoi}" />

												<!-- 												<f:attribute name="listeJoueurs" -->
												<!-- 													value="#{beanInscription.listeJoueurs}" /> -->


											</p:selectOneMenu>
										</p:column>
										<p:column>
											<p:inputText id="lieu"
												value="#{beanListeInscriptionsCompta.filtre.lieuTournoi}" />
										</p:column>

									</p:row>
									<p:row>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Date tournoi</span>
										</p:column>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Historique
												Inscriptions</span>
										</p:column>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Etat</span>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:calendar showOn="button" navigator="true"
												value="#{beanListeInscriptionsCompta.filtre.dateTournoi}"
												pattern="dd/MM/yyyy" mask="true" />
										</p:column>
										<p:column>
											<p:selectOneMenu id="intervalle"
												value="#{beanListeInscriptionsCompta.filtre.intervalle}"
												style="width:200px">
												<f:selectItem itemLabel="Toutes le temps" itemValue="1" />
												<f:selectItem itemLabel="Dernier mois" itemValue="2" />
												<f:selectItem itemLabel="3 derniers mois" itemValue="3" />
												<f:selectItem itemLabel="6 derniers mois" itemValue="4" />
											</p:selectOneMenu>
										</p:column>
										<p:column>
											<p:selectOneMenu
												value="#{beanListeInscriptionsCompta.filtre.paye}">
												<f:selectItem itemLabel="" itemValue="1" />
												<f:selectItem itemLabel="Impayés" itemValue="2" />
												<f:selectItem itemLabel="Payés" itemValue="3" />
											</p:selectOneMenu>
										</p:column>
									</p:row>
								</p:panelGrid>

								<div class="CardFooter">
									<span class="CardFooterBtn Gray BorderLeft Fright ripplelink"><p:commandButton
											value="rechercher"
											action="#{beanListeInscriptionsCompta.rechercher}"
											oncomplete="toggleDiv(xhr, status, args);"
											update="form:table_inscriptions"
											styleClass="OrangeButton Fright FloatNoneOnMobile" /></span>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>

			<!-- 		<security:authorize -->
			<!-- 			access="hasAnyRole('ROLE_ADMINISTRATOR, ROLE_USER')"> -->
			<h:form id="form">
				<pc:messages id="messages" />
				<div class="Container100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect TexAlCenter">

							<p:dataTable id="table_inscriptions" var="inscriptions"
								value="#{beanListeInscriptionsCompta.listeInscriptions}"
								emptyMessage="Aucune inscriptions" rows="10" paginator="true"
								paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="10,20,30"
								selection="#{beanListeInscriptionsCompta.selectedInscriptions}"
								rowKey="#{inscriptions.id}"
								sortBy="#{inscriptions.dateInscription}">

								<!-- 							<p:ajax event="rowEdit" listener="#{dtEditView.onRowEdit}" -->
								<!-- 								update=":form:msgs" /> -->
								<!-- 							<p:ajax event="rowEditCancel" -->
								<!-- 								listener="#{dtEditView.onRowCancel}" update=":form:msgs" /> -->

								<p:column selectionMode="multiple"
									style="width:16px;text-align:center"
									rendered="#{beanListeInscriptionsCompta.modificationGeneral}" />

								<p:column headerText="Nom Joueur">
									<h:outputText value="#{inscriptions.joueur.label}" />
								</p:column>

								<p:column headerText="Date Inscription">
									<h:outputText value="#{inscriptions.dateInscription}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="Europe/Paris" />
									</h:outputText>
								</p:column>

								<p:column headerText="Libelle Tournoi">
									<h:outputText value="#{inscriptions.tournoi.libelleTournoi}" />
								</p:column>

								<p:column headerText="Date Tournoi">
									<h:outputText value="#{inscriptions.tournoi.dateTournoi}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="Europe/Paris" />
									</h:outputText>
								</p:column>

								<p:column headerText="Prix Inscription">
									<h:outputText value="#{inscriptions.prix} €" />
								</p:column>



								<p:column headerText="Inscription payé">

									<p:selectBooleanCheckbox value="#{inscriptions.paye}"
										disabled="#{!beanListeInscriptionsCompta.modificationGeneral}" />

								</p:column>

							</p:dataTable>

						</div>
					</div>
				</div>


				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">

							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil"
								action="#{beanListeInscriptionsCompta.setModificationGeneral(true)}"
								update="form" styleClass="OrangeButton RaisedButton"
								rendered="#{!beanListeInscriptionsCompta.modificationGeneral and p:ifAnyGranted('ADMI, COMPTA')}" />
							<p:defaultCommand target="boutton_modify" />

							<!-- 							<p:separator -->
							<!-- 								rendered="#{!beanListeInscriptionsCompta.modificationGeneral}" /> -->

							<p:commandButton id="boutton_save" value="enregistrer"
								icon="fa fa-check" action="#{beanListeInscriptionsCompta.save}"
								update="form" styleClass="GreenButton RaisedButton"
								rendered="#{beanListeInscriptionsCompta.modificationGeneral}" />


							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanListeInscriptionsCompta.delete}" update="form"
								styleClass="RedButton RaisedButton"
								rendered="#{beanListeInscriptionsCompta.modificationGeneral}">
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de ces inscriptions ?"
									icon="ui-icon-alert" />
							</p:commandButton>


						</p:toolbarGroup>
					</p:toolbar>
				</div>
			</h:form>
		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI', 'COMPTA')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>
