<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:security="http://www.springframework.org/security/tags">

	<script type="text/javascript">
		//<![CDATA[
		function runLogout() {
			location.href = "#{facesContext.externalContext.requestContextPath}/logout";
		}
		//]]>
	</script>



	<!-- TOPBAR START -->
	<div id="layout-topbar">
		<a id="mobile-menu-button"> <span class="ButtonLine"
			id="ButtonLine1"></span> <span class="ButtonLine" id="ButtonLine2"></span>
			<span class="ButtonLine" id="ButtonLine3"></span>
		</a> <a href="#{request.contextPath}/jsf/commun/index.xhtml" id="logo">
			<h:graphicImage name="UNBlong.png" styleClass="Fleft" library="images" />
		</a> <a id="show-top-menu" class="ShowOnMobile ripplelink"><i
			class="icon-more_vert" id="active"></i><i class="icon-close DispNone"
			id="passive"></i> </a>

		<ul id="top-menu">

			<li><a class="ripplelink"><i class="icon-cog"></i> <span
					class="ShowOnMobile">Settings</span></a>
				<ul>

					<li><p:commandLink action="COMPTE"
							style="color: #546e7a !important;">
							<i class="icon-assignment_ind"></i> Mon compte</p:commandLink></li>



					<li><security:authorize access="hasAnyRole('ADMI')">
							<p:commandLink action="CONFIGURATION"
								style="color: #546e7a !important;">
								<i class="icon-download"></i> Import</p:commandLink>

						</security:authorize></li>

					<li><security:authorize access="hasAnyRole('ADMI')">
							<p:commandLink action="USERS" style="color: #546e7a !important;">
								<i class="icon-gesture"></i> Gestion Utilisateurs</p:commandLink>
						</security:authorize></li>

					<li><security:authorize access="hasAnyRole('COMPTA,ADMI')">
							<p:commandLink action="INDEX_COMPTA" style="color: #546e7a !important;">
								<i class="icon-iso"></i> Compta</p:commandLink>
						</security:authorize></li>

				</ul></li>
			<li><a class="ripplelink"><i class="icon-power"></i> <span
					class="ShowOnMobile">System</span></a>
				<ul>
					<!--                     <li><a href="#"><span class="Blue"><i class="icon-airline_seat_individual_suite Fs30 DispBlock"></i> Sleep Mode</span></a></li> -->
					<!--                     <li><a href="#"><span class="Orange"><i class="icon-track_changes Fs30 DispBlock"></i> Restart System</span></a></li> -->
					<li><a href="#" onclick="runLogout();"><span class="Red"><i
								class="icon-vpn_key Fs20"></i> Déconnexion </span></a></li>
				</ul></li>
		</ul>
	</div>
	<!-- TOPBAR END -->

</ui:composition>
